@import url('bootstrap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
 background-color: beige;  
  
}


a {
  text-decoration: none;
  color: white;
}

.card{
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: all 0.2s ease;
  color: #212529;
  font-weight: 600;
}

.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}